@font-face {
  font-family: 'CascadiaCode';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("/blog/fonts/CascadiaMono-Regular.woff2") format("woff2"),
       url("/blog/fonts/CascadiaMono-Regular.woff") format("woff");
}
