.posts {
  width: 100%;
  max-width: 880px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $dark-border-color;
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      font-weight: bold;
      margin: 5px 0 5px .5em;
      text-transform: lowercase;
    }

    &-sep {
      margin-left: .5em;
    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {
      min-height: 38px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding: 6px 0;
      a {
        text-decoration: none;
      }
    }

    &-day {
      flex-shrink: 0;
      @include dimmed;
    }
  }
}
