@charset "UTF-8";

$dark-background: #000000;
$dark-background-secondary: #303030;
$dark-background-header: #1b1c1d;
$dark-color: #eceff1;
$dark-color-variant: white;
$dark-color-secondary: #999999;
$dark-border-color: #707070;
$dark-table-color: #707070;

$accent-color: #fe5186;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
